{% extends './base.html' %}
{% load static %}

{% block content %}

<main id="main" class="main">
<!--    <div class="pagetitle text-center">-->
<!--        <h1>Dashboard</h1>-->
<!--    </div>-->
    <section class="section dashboard">
        <div class="row">
            <div class="col-12">
                <div class="card shadow-lg border border-primary">
                    <div class="card-body">
                        <div class="pagetitle text-center pt-1">
                            <h1>DashBoard</h1>
                        </div>
<!--                        <h5 class="card-title text-center">Total Land Area Count: <span>{{ total_land_count }}</span>-->
<!--                        </h5>-->
<!--                        <p class="text-center">Select a project to view its details.</p>-->
                    </div>
                </div>
            </div>
        </div>

        <!-- Cards for each project -->
        <div class="row">
<!--            {% for userlevel in userlevels %}-->
<!--            <div class="col-md-4">-->
<!--                <div class="card shadow-lg border border-primary">-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title text-center">{{ userlevel.assignusercode }}</h5>-->

<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            {% endfor %}-->
        </div>

    </section>
</main>
{% endblock content %}

{% include './assets/component/footer.html' %}
